<!doctype html>

<html>
	<head>
		<title>5C Course Search - Browse Departments</title>
		<link type="text/css" rel="stylesheet" href="/static/browsestyles.css" />
	</head>

	<body>
		<div class='page'>
			<center><h2>Browse Departments</h2></center>
			<center><table>
				<tr>
					<td><a href="{{url_for('results')}}">Africana Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/amst/">American Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/arbc/">Arabic</a></td>
					<td><a href="http://course-api.herokuapp.com/arhi/">Art History</a></td>
					<td><a href="http://course-api.herokuapp.com/art/">Art</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/asia/">Asian Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/asam/">Asian American Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/astr/">Astronomy</a></td>
					<td><a href="http://course-api.herokuapp.com/biol/">Biology</a></td>
					<td><a href="http://course-api.herokuapp.com/chem/">Chemistry</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/chst/">Chicano Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/chin/">Chinese</a></td>
					<td><a href="http://course-api.herokuapp.com/clas/">Classics</a></td>
					<td><a href="http://course-api.herokuapp.com/csci/">Computer Science</a></td>
					<td><a href="http://course-api.herokuapp.com/clst/">Cultural Studies</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/danc/">Dance</a></td>
					<td><a href="http://course-api.herokuapp.com/engr/">Engineering</a></td>
					<td><a href="http://course-api.herokuapp.com/econ/">Economics</a></td>
					<td><a href="http://course-api.herokuapp.com/engl/">English</a></td>
					<td><a href="http://course-api.herokuapp.com/ea/">Environmental Analysis</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/euro/">European Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/fren/">French</a></td>
					<td><a href="http://course-api.herokuapp.com/chem/">Chemistry</a></td>
					<td><a href="http://course-api.herokuapp.com/gws/">Gender & Women's Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/geol/">Geology</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/grst/">German Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/govt/">Government</a></td>
					<td><a href="http://course-api.herokuapp.com/hbrw/">Hebrew</a></td>
					<td><a href="http://course-api.herokuapp.com/hist/">History</a></td>
					<td><a href="http://course-api.herokuapp.com/ir/">International Relations</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/japn/">Japanese</a></td>
					<td><a href="http://course-api.herokuapp.com/jwst/">Jewish Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/kore/">Korean</a></td>
					<td><a href="http://course-api.herokuapp.com/last/">Latin American Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/lgst/">Legal Studies</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/lgcs/">Linguistics & Cog. Sci.</a></td>
					<td><a href="http://course-api.herokuapp.com/lit/">Literature</a></td>
					<td><a href="http://course-api.herokuapp.com/math/">Mathematics</a></td>
					<td><a href="http://course-api.herokuapp.com/mes/">Middle Eastern Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/mobi/">Molecular Biology</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/mus/">Music</a></td>
					<td><a href="http://course-api.herokuapp.com/neur/">Neuroscience</a></td>
					<td><a href="http://course-api.herokuapp.com/phil/">Philosophy</a></td>
					<td><a href="http://course-api.herokuapp.com/pe/">Physical Education</a></td>
					<td><a href="http://course-api.herokuapp.com/phys/">Physics</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/poli/">Politics</a></td>
					<td><a href="http://course-api.herokuapp.com/psyc/">Psychology</a></td>
					<td><a href="http://course-api.herokuapp.com/port/">Portuguese</a></td>
					<td><a href="http://course-api.herokuapp.com/ppa/">Public Policy Analysis</a></td>
					<td><a href="http://course-api.herokuapp.com/rlst/">Religious Studies</a></td>
				</tr>
				<tr>
					<td><a href="http://course-api.herokuapp.com/russ/">Russian</a></td>
					<td><a href="http://course-api.herokuapp.com/secu/">Secular Studies</a></td>
					<td><a href="http://course-api.herokuapp.com/soc/">Sociology</a></td>
					<td><a href="http://course-api.herokuapp.com/span/">Spanish</a></td>
					<td><a href="http://course-api.herokuapp.com/thea/">Theatre</a></td>
				</tr>
			</table></center>
		</div>
	</body>